.poster {
    &-container {
        max-width: 1820px;
    }
    &__inner {
        height: 700px;
        display: flex;
        padding: 10px 0;
    }
    &__text {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__description {
        margin-left: 10px;
        font-size: 18px;
    }
    &__ticket-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: var(--light-violet);
        color: var(--dark-violet);
        @include header;
        text-decoration: none;
        border-radius: 10px;
    }
}